
# You can then use a tool like direnv to automatically load the variables 
# from the .envrc file into your current shell,
export GREENLIGHT_DB_DSN="mysql://root:1234@tcp(localhost:3306)/electronicsstore?parseTime=true"